<?xml version="1.0"?>
<connectionStrings>
  <add name="localDB" connectionString="Data Source=ADONEYPC\SQLEXPRESS;Initial Catalog=MyAcceleApp;Integrated Security=True"/>
<!--<add name="localDB" connectionString="Server=tcp:acceleserver.database.windows.net,1433;Initial Catalog=acceledb;Persist Security Info=False;User ID=Accele;Password=Hercules03;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
</connectionStrings>